*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
background:#111827;
padding:20px;
text-align:center;
}

nav h1{
color:cyan;
font-size:32px;
}

.hero{
padding:60px;
text-align:center;
}

.hero h2{
font-size:45px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
color:#cbd5e1;
}

.dashboard{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:50px;
}

.card{
background:#1e293b;
padding:40px;
border-radius:15px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
background:#334155;
}

.card h2{
color:cyan;
margin-bottom:15px;
}

.charts-section{
padding:50px;
text-align:center;
}

.chart-container{
width:90%;
max-width:900px;
margin:auto;
background:#1e293b;
padding:30px;
border-radius:20px;
}

.jenkins-status{
padding:50px;
text-align:center;
}

.status{
padding:20px;
border-radius:10px;
margin:20px auto;
width:300px;
font-size:22px;
}

.success{
background:green;
}

footer{
background:#111827;
padding:30px;
text-align:center;
margin-top:50px;
}